<!-- Inclusion du partial header-->
<% include ../partials/header %>
<div class="container mt-4">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1> Ajout d'un nouveau commentaire à <%= annonce.name %></h1>
		</div>
	</div>
	<div class="row text-center justify-content-center">
		<div class="col-lg-4">
			<form action="/annonces/<%= annonce._id %>/commentaires" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="commentaire[texte]" placeholder="texte">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block">Valider</button>
				</div>
			</form>
			<div class="row justify-content-left">
				<a href="/annonces">Retour</a>
			</div>
		</div>	
	</div>
</div>

<!-- Inclusion du partial footer-->
<% include ../partials/footer %>