<!-- Inclusion du partial header-->
<% include partials/header %>
<link rel="stylesheet" href="app.css">

<h1>This is a home page with an h1</h1>

<!-- Inclusion du partial footer-->
<% include partials/footer %>
