<!DOCTYPE html>
<html>
	<head>
		<title>YelCamp App</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<!------------------        NavBar         ------------------>
		<nav id="mainNavbar" class="navbar navbar-dark bg-dark navbar-expand-md mb-3">
			<a href="/" class="navbar-brand mr-5">EKiMMO</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle Navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Collapse elements -->
			<div class="collapse navbar-collapse ml-auto" id="navLinks">
				<!-- Navbar vers la droite (ml-auto) -->
				<ul class="navbar-nav ml-auto">
					<% if(!currentUser){ %>
						<li class="navbar-item"><a class="nav-link" href="/login">Espace Client</a></li>
						<li class="navbar-item"><a class="nav-link" href="/register">S'inscrire</a></li>
					<% } else{ %>
						<li class="navbar-item"><a class="nav-link" href="#"><%= currentUser.username %></a></li>
						<li class="navbar-item"><a class="nav-link" href="/logout">Se déconnecter</a></li>
					<% } %>
				</ul>
			</div>
		</nav>
		<!------------------    Flash message      ------------------>
		<div class="container">
			<% if(error && error.length > 0){ %>
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>
			<% } %>
			<% if(success && success.length > 0){%>
				<div class="alert alert-success" role="alert">
					<%= success %>
				</div>
			<% } %>
		</div>
		
		