<!-- Inclusion du partial header-->
<% include ./partials/header %>

<h1>Connexion !</h1>

<form method="POST" action="/login">
	<input type="text" placeholder="Username" name="username">
	<input type="password" placeholder="Password" name="password">
	<button>Submit</button>
</form>

<!-- Inclusion du partial footer-->
<% include ./partials/footer %>