<h1>Page D'inscription</h1>

<form method="POST" action="/register">
	<input type="text" placeholder="Username" name="username">
	<input type="password" placeholder="Password" name="password">
	<button>Submit</button>
</form>

<li><a href="/register">Inscription</a></li>
<li><a href="/login">Connexion</a></li>
<li><a href="/logout">Déconnexion</a></li>