<!-- Inclusion du partial header-->
<% include ../partials/header %>

<div class="container">
	<header class="jumbotron">
		<h1 class="display 4"> Ekimmo </h1>
		<p class="lead">Trouvez le bien de vos rêves !</p>
		<p>
			<a class="btn btn-primary btn-large" href="/annonces/new">Ajouter un nouveau bien</a>
		</p>
	</header>
	<div class="row">
		<div class="col-lg-12">
			<h3>Nos meilleurs produits</h3>
		</div>	
	</div>
	<div class="row align-items-stretch">
		<% annonces.forEach(function(annonce){ %>
		<div class="col-md-4 d-flex align-self-stretch">
			<div class="card bg-light mb-5">
				<img class="card-img-top" src="<%= annonce.image %>" alt="Card image cap">
				<div class="card-body">
					<p class="card-title"><%= annonce.name %></p>
					<a href="/annonces/<%= annonce._id %>" class="btn btn-primary btn-block text-center">Visiter</a>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<!-- Inclusion du partial footer-->
<% include ../partials/footer %>

