<h1> Search for a movie </h1>

<!--On envoit vers la page de results dès que formulaire est validé-->
<form action="/results" method="GET">
	<input type="text" name="search" placeholder="search term">
	<input type="submit">
</form>
